.header {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  padding-right: 10px;
  background: #fff;
}
.hLogo {
  width: 80%;
  height: 100%;
  justify-content: flex-start;
}
.hLogo h1 {
  font-family: var(--cursive-font);
  font-size: 2.2rem;
  /* color: var(--primary-color); */
}
.hBtn {
  width: 20%;
  height: 100%;
  justify-content: flex-end;
}
.searchBox {
  width: 100%;
  height: 47px;
  border-radius: 7px;
  background-color: rgb(230, 230, 230);
  background-color: #e7e7e7;
  margin: 15px 15px;
}
.searchBox:hover,
.searchBox:active,
.searchBox:focus {
  opacity: 0.7;
}
.sbIcon {
  width: 17%;
  height: 100%;
}
.sbText {
  width: 83%;
  height: 100%;
  justify-content: flex-start;
}
.sbText p {
  font-size: 1rem;
  color: rgb(53, 53, 53);
}
.searchBar {
  width: 100%;
  height: 100%;
}
.categorySec {
  height: 50px;
  padding: 5px 0px;
  padding-left: 15px;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  position: sticky;
  z-index: 2;
  background: #fff;
  top: 0;
}
.categorySec::-webkit-scrollbar {
  display: none;
}
.categoryBox {
  max-width: 100%;
  height: 37px;
  background: #fff;
  border-radius: 7px;
  padding: 0 15px;
}
.categoryBox p {
  font-weight: 500;
  font-size: 1rem;
}
.activeCategory {
  background: var(--primary-color);
}
.activeCategory p {
  color: #fff;
  font-weight: 500;
}
.spacing {
  min-width: 10px;
  height: 100%;
}
.listCardSec {
  padding: 10px 15px;
}
.gridCardSec {
  padding: 10px 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}
